.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 350px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  flex-grow: 1;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 15px;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 2300px !important;
  display: none;
  flex-direction: column;
  background-color: #f8f9fa;
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343a40;
  color: white;
}

#page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: white;
}

.navbar .navbar-brand {
  color: rgb(24, 23, 23);
}

.container-fluid {
  padding: 2rem;
}

.mt-4 {
  margin-top: 1.5rem;
}




body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 400px;
  display: none;
  flex-direction: column;
  background-color: #f8f9fa;
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343a40;
  color: white;
}

#page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: white;
}

.navbar .navbar-brand {
  color: white;
}

.container-fluid {
  padding: 2rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.form-control  {
  width: 250px;
}


.custom-snackbar {
  background-color: black !important;
  color: white !important;
}

