<div class="dashboard-container">
  <div class="header">
    <div class="controls">
      <label for="x-axis-select">X-Axis:</label>
      <select id="x-axis-select" (change)="onXAxisChange($event)">
        <option *ngFor="let key of dataKeys" [value]="key">{{ key }}</option>
      </select>

      <label for="y-axis-select">Y-Axis:</label>
      <select id="y-axis-select" (change)="onYAxisChange($event)">
        <option *ngFor="let key of dataKeys" [value]="key">{{ key }}</option>
      </select>
    </div>
    <div class="chart-type-buttons">
      <ul>
        <li (click)="onChartTypeChange('bar')" [class.active]="selectedChartType === 'bar'">Bar Chart</li>
        <li (click)="onChartTypeChange('line')" [class.active]="selectedChartType === 'line'">Line Chart</li>
        <li (click)="onChartTypeChange('pie')" [class.active]="selectedChartType === 'pie'">Pie Chart</li>
        <li (click)="onChartTypeChange('scatter')" [class.active]="selectedChartType === 'scatter'">Scatter Chart</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="chart-container" #chartContainer id="chart"></div>
  </div>
</div>
